@model Product

<div class="card">
    <img class="card-img-top" src="@Model.ImageURL" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price TL yerine @(Model.Price * (1-Model.Discount))TL</p>

        <a href="#" class="btn btn-primary">Sepete Ekle</a>
    </div>
</div>